<div class="wrapper">
    <div class="analyse2_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- analyse -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/analyse/title2.png" />
            <div class="rel analyse-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w table-box">
                    <!-- score -->
                    <div class="rel score-box">
                        <img class="full-w" src="assets/images/analyse/score.png" />
                        <div class="abs score">--</div>
                    </div>
                    <!-- board -->
                    <div class="rel board-box">
                        <img class="full-w" src="assets/images/analyse/board.png" />
                        <div class="abs full-h right-count">--</div>
                        <div class="abs full-h wrong-count">--</div>
                    </div>
                    <!-- wrong qa -->
                    <div class="wrong-box">
                        <div class="qa-title bordertop qa-title1 hide">兰 蔻</div>
                        <div class="qa-item qa-item1 hide">
                            <div class="q q1">1. BA小黑瓶加量的破冰话术是否引起您的兴趣？</div>
                        </div>
                        <div class="qa-item qa-item2 hide">
                            <div class="q q2">2. BA是否能给你至少两个必带小黑瓶的理由？（微生态保养50%肌肤健康/基因保养/3倍吸收/提升肌肤10大能力···）</div>
                        </div>
                        <div class="qa-item qa-item3 hide">
                            <div class="q q3">3. BA是否能成功邀约顾客上脸试用大眼精华？</div>
                        </div>
                        <div class="qa-item qa-item4 hide">
                            <div class="q q4">4. BA是否掌握大眼精华试用手法？（检测出眼部淤堵处）</div>
                        </div>
                        <div class="qa-item qa-item5 hide">
                            <div class="q q5">5. BA是否能说出雪花霜销售金句？（千元以下功效最全，质地最舒服的抗初老面霜。紧致 淡纹 亮白）</div>
                        </div>
                        <div class="qa-item qa-item6 hide">
                            <div class="q q6">6. BA是否能提供中高端眼霜升级菁纯眼霜的至少两个理由？</div>
                        </div>
                        <div class="qa-item qa-item7 hide">
                            <div class="q q7">7. BA知道兰蔻持妆粉底液在同类型底妆产品里的优势是什么吗？</div>
                        </div>
                        <div class="qa-item qa-item8 hide">
                            <div class="q q8">8. 底妆顾客BA是否会第一反应推荐菁纯并讲述优势？</div>
                        </div>
                        <div class="qa-title bordertop qa-title2 hide">植 村 秀</div>
                        <div class="qa-item qa-item9 hide">
                            <div class="q q9">1. BA是否知道大量需要清洁的污垢都是油溶性吗？</div>
                        </div>
                        <div class="qa-item qa-item10 hide">
                            <div class="q q10">2. BA是否认可 以油溶油的卸妆理念？</div>
                        </div>
                        <div class="qa-item qa-item11 hide">
                            <div class="q q11">3. BA是否已经掌握到正确的洁颜油使用方法了？</div>
                        </div>
                        <div class="qa-item qa-item12 hide">
                            <div class="q q12">4. A了解到植村秀砍刀眉笔的三大优势了吗？（油活配方/Hard 9硬度/砍刀形状）</div>
                        </div>
                        <div class="qa-item qa-item13 hide">
                            <div class="q q13">5. BA知道在砍刀眉笔6个色号里，哪两个颜色是明星色号吗？（02/05）</div>
                        </div>
                        <div class="qa-item qa-item14 hide">
                            <div class="q q14">6. BA现在是不是会削砍刀眉笔了？</div>
                        </div>
                        <div class="qa-item qa-item15 hide">
                            <div class="q q15">7. BA知道55号粉底刷的三大卖点了吗？（198000根级细绒毛/手工制作/10秒上妆）</div>
                        </div>
                        <div class="qa-item qa-item16 hide">
                            <div class="q q16">8. BA知道植村秀55号粉刷是粉底液升值神器吗？可以把五六百粉底液画出一两千的妆效。</div>
                        </div>
                        <div class="qa-title bordertop qa-title3 hide">碧 欧 泉</div>
                        <div class="qa-item qa-item17 hide">
                            <div class="q q17">1. BA知道碧欧泉奇迹水是媲美精华功效的精华水吗？</div>
                        </div>
                        <div class="qa-item qa-item18 hide">
                            <div class="q q18">2. BA会讲述活源精粹的三大功效吗？</div>
                        </div>
                        <div class="qa-item qa-item19 hide">
                            <div class="q q19">3. BA会说出全球男士护肤领域最专业品牌是碧欧泉吗？</div>
                        </div>
                        <div class="qa-item qa-item20 hide">
                            <div class="q q20">4. BA知道碧欧泉水动力乳液是全球销量最好的男士补水类产品吗？</div>
                        </div>
                        <div class="qa-item qa-item21 hide">
                            <div class="q q21">5. BA知道碧欧泉男士滋养紧致是回柜率最高的男士系列吗？</div>
                        </div>
                        <div class="qa-title bordertop qa-title4 hide">阿 玛 尼</div>
                        <div class="qa-item qa-item22 hide">
                            <div class="q q22">1. BA会说出全球销量第一的男士香水是阿玛尼寄情男士香水吗？</div>
                        </div>
                        <div class="qa-item qa-item23 hide">
                            <div class="q q23">2. BA能突出阿玛尼挚爱女士香水的三大卖点吗？（最红包装/献给现代女性的礼物/来自意大利顶级奢侈品牌）</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btns -->
            <div class="btns">
                <img class="btn-retest" src="" />
                <img class="btn-pass" src="" />
            </div>
        </div>
    </div>
</div>
