<div class="wrapper">
    <div class="home_page page">
        <!-- bg -->
        <img class="abs full-w bg" src="assets/images/common/bg.jpg" />
        <div class="abs full-w all-box text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/home/title2.png" />
            <!-- btns -->
            <div class="btns">
                <!-- to study -->
                <img class="btn-study" src="assets/images/home/btn-study.png" />
                <!-- to check -->
                <img class="btn-check" src="assets/images/home/btn-check.png" />
            </div>
        </div>
        <!-- login out -->
        <img class="abs out" src="assets/images/home/out.png" />
    </div>
</div>
<!-- modal -->
<div class="abs full-w full-h modal-out fontsize0">
    <div class="rel modal-content">
        <img class="full-w" src="assets/images/home/modal.png" />
        <!-- y -->
        <img class="abs btn-y" src="assets/images/home/y.png" />
        <!-- n -->
        <img class="abs btn-n" src="assets/images/home/n.png" />
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
