<div class="wrapper">
    <div class="listall_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- all -->
        <div class="abs all-box fontsize0 lineheight0">
            <!-- title -->
            <img class="full-w title" src="assets/images/list/title-all.png" />
            <div class="rel list-box">
                <img class="full-w" src="assets/images/list/bg-area.png" />
                <!-- screen -->
                <div class="abs full-w table-screen">
                    <!-- teac -->
                    <div class="rel full-h screen-item screen-teac">
                        <div class="full-h arrow-teac">
                            <i class="arrow"></i>
                        </div>
                        <select id="teac" class="abs full-w select-teac" data-index="0">
                            <option class="defaultOption" value="">全部</option>
                        </select>
                    </div>
                    <!-- area -->
                    <div class="rel full-h screen-item screen-area">
                        <div class="full-h arrow-area">
                            <i class="arrow"></i>
                        </div>
                        <select id="area" class="abs full-w select-area" data-index="0">
                            <option class="defaultOption" value="">全部</option>
                        </select>
                    </div>
                    <!-- num -->
                    <div class="rel full-h screen-item screen-num">
                        <div class="full-h arrow-num">
                            <i class="arrow"></i>
                        </div>
                        <select id="num" class="abs full-w select-num" data-index="0">
                            <option class="defaultOption" value="">全部</option>
                        </select>
                    </div>
                    <!-- status -->
                    <div class="rel full-h screen-item screen-status">
                        <div class="full-h arrow-status">
                            <i class="arrow"></i>
                        </div>
                        <select id="status" class="abs full-w select-status" data-index="0">
                            <option class="defaultOption" value="">全部</option>
                        </select>
                    </div>
                </div>
                <div class="abs full-w table-list">
                    <div class="nodata text-center">暂无数据</div>
                </div>
            </div>
            <!-- back check -->
            <div class="text-center">
                <img class="btn-check" src="assets/images/search/btn-check.png" />
            </div>
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
