<div class="wrapper">
    <div class="listarea_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- all -->
        <div class="abs all-box fontsize0 lineheight0">
            <!-- title -->
            <img class="full-w title" src="assets/images/list/title-area.png" />
            <div class="rel list-box">
                <img class="full-w" src="assets/images/list/bg-area.png" />
                <div class="abs full-w table-list">
                    <div class="nodata text-center">暂无该区域数据</div>
                </div>
            </div>
            <!-- back check -->
            <div class="text-center">
                <img class="btn-check" src="assets/images/search/btn-check.png" />
            </div>
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
