<div class="wrapper">
    <div class="loading_page page">
    	<!-- bg -->
        <img class="abs full-w bg" src="assets/images/loading/oreal2.gif" />
        <!-- loading -->
        <div class="abs full-w loading fontsize0 text-center">
        	<!-- percent -->
            <p><span class="num">0</span>%</p>
        </div>
    </div>
</div>