<div class="wrapper">
    <div class="login_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/login/stars.png" />
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/login/title.png" />
            <form class="rel form-box">
                <!-- bg -->
                <img class="full-w" src="assets/images/login/bg-form.png" />
                <!-- name -->
                <div class="abs input-box name-box">
                    <img class="full-w" src="assets/images/login/name.png" />
                    <input class="abs userName" type="text" maxlength="10" name="userName" placeholder="请输入">
                </div>
                <!-- number -->
                <div class="abs input-box number-box">
                    <img class="full-w" src="assets/images/login/number.png" />
                    <input class="abs userNumber" type="text" maxlength="4" name="userNumber" placeholder="请输入">
                </div>
                <!-- pwd -->
                <div class="abs input-box pwd-box">
                    <img class="full-w" src="assets/images/login/pwd.png" />
                    <input class="abs userPwd" type="password" name="userPwd" maxlength="6" placeholder="请输入" autocomplete="off">
                </div>
                <!-- reg -->
                <div class="abs reg-box">
                    <img class="full-w" src="assets/images/login/reg.png" />
                </div>
            </form>
            <!-- btns -->
            <div class="btns">
                <!-- btn home -->
                <img class="btn-home" src="assets/images/common/btn-home.png" />
                <!-- btn login -->
                <img class="btn-con" src="assets/images/login/btn-con.png" />
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
