<div class="wrapper">
    <div class="program_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1336.png" />
        <!-- program -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/program/title.png" />
            <div class="rel program-box">
                <!-- bg -->
                <img class="full-w" src="assets/images/program/bg-program.png" />
                <div class="abs full-w level-box">
                    <!-- level1 -->
                    <div class="level-item level1 unlock">
                        <div class="level full-h">
                            <img class="full-h" src="assets/images/program/level1.png" />
                        </div>
                        <div class="score full-h">--</div>
                        <div class="status full-h">
                            <img class="full-h" src="assets/images/program/nopass.png" />
                        </div>
                        <div class="btn-study full-h">
                            <img class="full-h" src="assets/images/program/btn-study.png" />
                        </div>
                    </div>
                    <!-- level2 -->
                    <div class="level-item level2 lock">
                        <div class="level full-h">
                            <img class="full-h" src="assets/images/program/level2.png" />
                        </div>
                        <div class="score full-h">--</div>
                        <div class="status full-h">
                            <img class="full-h" src="assets/images/program/nopass.png" />
                        </div>
                        <div class="btn-study full-h">
                            <img class="full-h" src="assets/images/program/btn-study.png" />
                        </div>
                    </div>
                    <!-- level3 -->
                    <div class="level-item level3 lock">
                        <div class="level full-h">
                            <img class="full-h" src="assets/images/program/level3.png" />
                        </div>
                        <div class="score full-h">--</div>
                        <div class="status full-h">
                            <img class="full-h" src="assets/images/program/nopass.png" />
                        </div>
                        <div class="btn-study full-h">
                            <img class="full-h" src="assets/images/program/btn-study.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- back -->
            <img class="btn-modules" src="assets/images/common/btn-back.png" />
        </div>
    </div>
</div>