<div class="wrapper">
    <div class="reg_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/reg/stars.png" />
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/reg/title.png" />
            <!-- form -->
            <form class="rel form-box">
                <!-- bg -->
                <img class="full-w" src="assets/images/reg/bg-form.png" />
                <!-- name -->
                <div class="abs input-box name-box">
                    <img class="full-w" src="assets/images/login/name.png" />
                    <input class="abs userName" type="text" maxlength="10" name="userName" placeholder="请输入">
                </div>
                <!-- city -->
                <div class="abs input-box city-box">
                    <img class="full-w" src="assets/images/reg/city.png" />
                    <div class="abs userCity">请选择</div>
                </div>
                <!-- number -->
                <div class="abs input-box number-box">
                    <img class="full-w" src="assets/images/login/number.png" />
                    <input class="abs userNumber" type="text" maxlength="4" name="userNumber" placeholder="请输入">
                </div>
                <!-- date -->
                <div class="abs input-box date-box">
                    <img class="full-w" src="assets/images/reg/date.png" />
                    <input class="abs userDate show-placeholder" type="date" name="userDate" placeholder="请选择">
                </div>
                <!-- teac -->
                <div class="abs input-box teac-box">
                    <img class="full-w" src="assets/images/reg/teacher.png" />
                    <select class="abs userTeac" name="userTeac">
                        <option class="defaultOption" value="">请选择</option>
                    </select>
                </div>
                <!-- pwd -->
                <div class="abs input-box pwd-box">
                    <img class="full-w" src="assets/images/login/pwd.png" />
                    <input class="abs userPwd" type="password" name="userPwd" maxlength="6" placeholder="请输入6位密码" autocomplete="off">
                </div>
                <!-- pwdcon -->
                <div class="abs input-box pwdcon-box">
                    <img class="full-w" src="assets/images/reg/pwdcon.png" />
                    <input class="abs userPwdcon" type="password" name="userPwdcon" maxlength="6" placeholder="请确认密码" autocomplete="off">
                </div>
            </form>
            <!-- btns -->
            <div class="btns">
                <!-- btn back -->
                <img class="btn-back" src="assets/images/common/btn-back.png" />
                <!-- btn submit -->
                <img class="btn-reg" src="assets/images/reg/btn-reg.png" />
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
<!-- modal -->
<div class="abs full-w full-h modal-success fontsize0">
    <div class="rel modal-content">
        <img class="full-w" src="assets/images/reg/modal.png" />
        <img class="abs btn-login" src="assets/images/reg/btn-login.png" />
    </div>
</div>
