<div class="wrapper">
    <div class="searcharea_page page">
        <!-- bg -->
        <img class="abs full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/search/stars.png" />
        <div class="abs all-box fontsize0 lineheight0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/search/title-area.png" />
            <div class="rel search-box">
                <!-- bg -->
                <img class="full-w" src="assets/images/search/bg-table.png" />
                <div class="abs input-box">
                    <!-- input -->
                    <img class="full-w" src="assets/images/search/input.png" />
                    <div class="abs teacName">请选择</div>
                    <!-- search -->
                    <img class="abs search" src="assets/images/search/search.png" />
                </div>
            </div>
            <!-- all -->
            <img class="btn-all" src="assets/images/search/btn-all.png" />
        </div>
    </div>
</div>