<div class="wrapper">
    <div class="test3_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- test -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/test/title3.png" />
            <div class="rel test-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w full-h qa-box">
                    <div class="qa-item qa-item1" data-index="1">
                        <div class="q q1">1. 针对几个重点单品，你是否有询问BA销售时遇到的问题并进行解答？</div>
                        <div class="a a1">
                            <div class="rel option">
                                <input id="Y1" class="option-box" type="radio" name="A1" />
                                <label for="Y1"></label>
                                <label for="Y1">是</label>
                            </div>
                            <div class="rel option">
                                <input id="N1" class="option-box" type="radio" name="A1" />
                                <label for="N1"></label>
                                <label for="N1">否</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item2" data-index="2">
                        <div class="q q2">2. 通过观察BA的销售习惯，LD品牌的明星单品被推荐率是否达到30%以上？</div>
                        <div class="a a2">
                            <div class="rel option">
                                <input id="Y2" class="option-box" type="radio" name="A2" />
                                <label for="Y2"></label>
                                <label for="Y2">是</label>
                            </div>
                            <div class="rel option">
                                <input id="N2" class="option-box" type="radio" name="A2" />
                                <label for="N2"></label>
                                <label for="N2">否</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item3" data-index="3">
                        <div class="q q3">3. 你是否针对被推荐率与BA进行沟通，查找问题并解决问题？</div>
                        <div class="a a3">
                            <div class="rel option">
                                <input id="Y3" class="option-box" type="radio" name="A3" />
                                <label for="Y3"></label>
                                <label for="Y3">是</label>
                            </div>
                            <div class="rel option">
                                <input id="N3" class="option-box" type="radio" name="A3" />
                                <label for="N3"></label>
                                <label for="N3">否</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item4" data-index="4">
                        <div class="q q4">4. 你是否遇到解答不了的问题并求助区域培训师一起解决？</div>
                        <div class="a a4">
                            <div class="rel option">
                                <input id="Y4" class="option-box" type="radio" name="A4" />
                                <label for="Y4"></label>
                                <label for="Y4">是</label>
                            </div>
                            <div class="rel option">
                                <input id="N4" class="option-box" type="radio" name="A4" />
                                <label for="N4"></label>
                                <label for="N4">否</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item5" data-index="5">
                        <div class="q q5">5. 你是否有与BA一起共同完成一单重点产品的销售？</div>
                        <div class="a a5">
                            <div class="rel option">
                                <input id="Y5" class="option-box" type="radio" name="A5" />
                                <label for="Y5"></label>
                                <label for="Y5">是</label>
                            </div>
                            <div class="rel option">
                                <input id="N5" class="option-box" type="radio" name="A5" />
                                <label for="N5"></label>
                                <label for="N5">否</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btns -->
            <div class="btns">
                <!-- back -->
                <img class="btn-back" src="assets/images/common/btn-back.png" />
                <!-- submit -->
                <img class="btn-submit" src="assets/images/test/btn-submit.png" />
            </div>
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
