<div class="wrapper">
    <div class="test_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1336.png" />
        <!-- title -->
        <img class="abs full-w title" src="assets/images/test/title.png" />
        <!-- levels -->
        <div class="abs level-box text-center fontsize0">
            <!-- title -->
            <img class="full-w title" src="assets/images/test/title.png" />
            <!-- level1 -->
            <img class="full-w level-item level1 unlock" src="assets/images/test/btn11.png" />
            <!-- level2 -->
            <img class="full-w level-item level2" src="assets/images/test/btn20.png" />
            <!-- level3 -->
            <img class="full-w level-item level3" src="assets/images/test/btn30.png" />
            <!-- back -->
            <img class="btn-back" src="assets/images/common/btn-back.png" />
        </div>
    </div>
</div>