<div class="wrapper">
    <div class="test1_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- test -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/test/title1.png" />
            <div class="rel test-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w full-h qa-box">
                    <div class="qa-item qa-item1" data-index="1" data-type="box">
                        <div class="q q1">1. 小黑瓶和安瓶精华的关系正确的是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a1">
                            <div class="rel option">
                                <input id="A1" class="option-box" type="checkbox" name="A1" />
                                <label for="A1"></label>
                                <label for="A1">A. 先用小黑再用安瓶精华</label>
                            </div>
                            <div class="rel option">
                                <input id="B1" class="option-box" type="checkbox" name="B1" />
                                <label for="B1"></label>
                                <label for="B1">B. 市场最强的精华组合</label>
                            </div>
                            <div class="rel option">
                                <input id="C1" class="option-box" type="checkbox" name="C1" />
                                <label for="C1"></label>
                                <label for="C1">C. 内修复，外防护</label>
                            </div>
                            <div class="rel option">
                                <input id="D1" class="option-box" type="checkbox" name="D1" />
                                <label for="D1"></label>
                                <label for="D1">D. 年轻肌底的救星</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item2" data-index="2" data-type="box">
                        <div class="q q2">2. 植村秀品牌的特点是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a2">
                            <div class="rel option">
                                <input id="A2" class="option-box" type="checkbox" name="A2" />
                                <label for="A2"></label>
                                <label for="A2">A. 匠人精神</label>
                            </div>
                            <div class="rel option">
                                <input id="B2" class="option-box" type="checkbox" name="B2" />
                                <label for="B2"></label>
                                <label for="B2">B. 全球洁颜世家</label>
                            </div>
                            <div class="rel option">
                                <input id="C2" class="option-box" type="checkbox" name="C2" />
                                <label for="C2"></label>
                                <label for="C2">C. 源自於艺术的灵感</label>
                            </div>
                            <div class="rel option">
                                <input id="D2" class="option-box" type="checkbox" name="D2" />
                                <label for="D2"></label>
                                <label for="D2">D. 专为亚洲人设计的产品和技巧</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item3" data-index="3" data-type="box">
                        <div class="q q3">3. 微生态护肤就像给你的每一颗细胞筑起围墙，补足肌肤健康的另外50%，让你的护肤不再只做一半。市面上唯一可作用于微生态保养的护肤品是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a3">
                            <div class="rel option">
                                <input id="A3" class="option-box" type="checkbox" name="A3" />
                                <label for="A3"></label>
                                <label for="A3">A. 兰蔻安瓶精华</label>
                            </div>
                            <div class="rel option">
                                <input id="B3" class="option-box" type="checkbox" name="B3" />
                                <label for="B3"></label>
                                <label for="B3">B. 兰蔻大眼精华</label>
                            </div>
                            <div class="rel option">
                                <input id="C3" class="option-box" type="checkbox" name="C3" />
                                <label for="C3"></label>
                                <label for="C3">C. 兰蔻小黑瓶</label>
                            </div>
                            <div class="rel option">
                                <input id="D3" class="option-box" type="checkbox" name="D3" />
                                <label for="D3"></label>
                                <label for="D3">D. 兰蔻菁纯精华</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item4" data-index="4" data-type="input">
                        <div class="q q4">4. 植村秀五款洁颜油能满足不同肌肤所需，其中绿茶油能（ <input class="q-input" type="text" name="q4-1" maxlength="1" placeholder="请填写" /> ），琥珀油能（ <input class="q-input" type="text" name="q4-2" maxlength="1" placeholder="请填写" /> ），樱花油能（ <input class="q-input" type="text" name="q4-3" maxlength="1" placeholder="请填写" /> ），山茶花油能（ <input class="q-input" type="text" name="q4-4" maxlength="1" placeholder="请填写" /> ），美白油能（ <input class="q-input" type="text" name="q4-5" maxlength="1" placeholder="请填写" /> ）。</div>
                        <div class="a a4">
                            <div class="rel option">
                                <input id="A4" class="option-box" type="checkbox" name="A4" />
                                <label class="hide"></label>
                                <label>A. 紧缩毛孔 去除油光</label>
                            </div>
                            <div class="rel option">
                                <input id="B4" class="option-box" type="checkbox" name="B4" />
                                <label class="hide"></label>
                                <label>B. 净化PM2.5  抗氧去黄</label>
                            </div>
                            <div class="rel option">
                                <input id="C4" class="option-box" type="checkbox" name="C4" />
                                <label class="hide"></label>
                                <label>C. 卓越保湿</label>
                            </div>
                            <div class="rel option">
                                <input id="D4" class="option-box" type="checkbox" name="D4" />
                                <label class="hide"></label>
                                <label>D. 匀净肤色 改善黑头</label>
                            </div>
                            <div class="rel option">
                                <input id="E4" class="option-box" type="checkbox" name="E4" />
                                <label class="hide"></label>
                                <label>E. 8大精油 奢华护肤</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item5" data-index="5" data-type="input">
                        <div class="q q5">5. 兰蔻紧致焕白系列能成为抗老界N0`1和美白界NO`1是因为内含（ <input class="q-input" type="text" name="q5-1" maxlength="1" placeholder="请填写" /> ）能3倍束紧真皮细胞，（ <input class="q-input" type="text" name="q5-2" maxlength="1" placeholder="请填写" /> ）能增加皮肤70%密度，（ <input class="q-input" type="text" name="q5-3" maxlength="1" placeholder="请填写" /> ）和（ <input class="q-input" type="text" name="q5-4" maxlength="1" placeholder="请填写" /> ）能2倍提升肌肤色度深层淡斑。</div>
                        <div class="a a5">
                            <div class="rel option">
                                <input id="A5" class="option-box" type="checkbox" name="A5" />
                                <label class="hide"></label>
                                <label>A. 亚麻籽</label>
                            </div>
                            <div class="rel option">
                                <input id="B5" class="option-box" type="checkbox" name="B5" />
                                <label class="hide"></label>
                                <label>B. 网红成份377</label>
                            </div>
                            <div class="rel option">
                                <input id="C5" class="option-box" type="checkbox" name="C5" />
                                <label class="hide"></label>
                                <label>C. 溶黑科技</label>
                            </div>
                            <div class="rel option">
                                <input id="D5" class="option-box" type="checkbox" name="D5" />
                                <label class="hide"></label>
                                <label>D. 向芯力紧致科技</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item6" data-index="6" data-type="box">
                        <div class="q q6">6. 导致肌肤微生态系统失衡的主要原因是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ），因此 现代人群护肤必须关注肌肤微生态系统的平衡。</div>
                        <div class="a a6">
                            <div class="rel option">
                                <input id="A6" class="option-box" type="checkbox" name="A6" />
                                <label for="A6"></label>
                                <label for="A6">A. 年龄增长</label>
                            </div>
                            <div class="rel option">
                                <input id="B6" class="option-box" type="checkbox" name="B6" />
                                <label for="B6"></label>
                                <label for="B6">B. 环境污染</label>
                            </div>
                            <div class="rel option">
                                <input id="C6" class="option-box" type="checkbox" name="C6" />
                                <label for="C6"></label>
                                <label for="C6">C. 过度清洁</label>
                            </div>
                            <div class="rel option">
                                <input id="D6" class="option-box" type="checkbox" name="D6" />
                                <label for="D6"></label>
                                <label for="D6">D. 生活习惯</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item7" data-index="7" data-type="input">
                        <div class="q q7">7. 植村秀砍刀眉笔核心油活配方的好处是（ <input class="q-input" type="text" name="q7-1" maxlength="1" placeholder="请填写" /> ），同时（ <input class="q-input" type="text" name="q7-2" maxlength="1" placeholder="请填写" /> ）的硬度 能让上色部分不结块。</div>
                        <div class="a a7">
                            <div class="rel option">
                                <input id="A7" class="option-box" type="checkbox" name="A7" />
                                <label class="hide"></label>
                                <label>A. Hard 6 </label>
                            </div>
                            <div class="rel option">
                                <input id="B7" class="option-box" type="checkbox" name="B7" />
                                <label class="hide"></label>
                                <label>B. 妆效持久防晕染</label>
                            </div>
                            <div class="rel option">
                                <input id="C7" class="option-box" type="checkbox" name="C7" />
                                <label class="hide"></label>
                                <label>C. 易上色</label>
                            </div>
                            <div class="rel option">
                                <input id="D7" class="option-box" type="checkbox" name="D7" />
                                <label class="hide"></label>
                                <label>D. Hard 9</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item8" data-index="8" data-type="box">
                        <div class="q q8">8. 碧欧泉灵魂成份的核心功效是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a8">
                            <div class="rel option">
                                <input id="A8" class="option-box" type="checkbox" name="A8" />
                                <label for="A8"></label>
                                <label for="A8">A. 促进细胞再生</label>
                            </div>
                            <div class="rel option">
                                <input id="B8" class="option-box" type="checkbox" name="B8" />
                                <label for="B8"></label>
                                <label for="B8">B. 深层清洁肌肤</label>
                            </div>
                            <div class="rel option">
                                <input id="C8" class="option-box" type="checkbox" name="C8" />
                                <label for="C8"></label>
                                <label for="C8">C. 镇定舒缓</label>
                            </div>
                            <div class="rel option">
                                <input id="D8" class="option-box" type="checkbox" name="D8" />
                                <label for="D8"></label>
                                <label for="D8">D. 抗氧化</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item9" data-index="9" data-type="input">
                        <div class="q q9">9. 全新微生态小黑瓶可以提升10大肌肤能力，搭配补水精华能（ <input class="q-input" type="text" name="q9-1" maxlength="1" placeholder="请填写" /> ）,搭配美白精华能（ <input class="q-input" type="text" name="q9-2" maxlength="1" placeholder="请填写" /> ）,搭配紧致精华能（ <input class="q-input" type="text" name="q9-3" maxlength="1" placeholder="请填写" /> ）,搭配修复精华能（ <input class="q-input" type="text" name="q9-4" maxlength="1" placeholder="请填写" /> ）,搭配舒缓精华能（ <input class="q-input" type="text" name="q9-5" maxlength="1" placeholder="请填写" /> ）,搭配高端抗老精华能（ <input class="q-input" type="text" name="q9-6" maxlength="1" placeholder="请填写" /> ）。</div>
                        <div class="a a9">
                            <div class="rel option">
                                <input id="A9" class="option-box" type="checkbox" name="A9" />
                                <label class="hide"></label>
                                <label>A. 提升表皮层锁水能力</label>
                            </div>
                            <div class="rel option">
                                <input id="B9" class="option-box" type="checkbox" name="B9" />
                                <label class="hide"></label>
                                <label>B. 提升肌肤自主修护能力</label>
                            </div>
                            <div class="rel option">
                                <input id="C9" class="option-box" type="checkbox" name="C9" />
                                <label class="hide"></label>
                                <label>C. 提升营养的吸收能力</label>
                            </div>
                            <div class="rel option">
                                <input id="D9" class="option-box" type="checkbox" name="D9" />
                                <label class="hide"></label>
                                <label>D. 提升肌肤保护能力</label>
                            </div>
                            <div class="rel option">
                                <input id="E9" class="option-box" type="checkbox" name="E9" />
                                <label class="hide"></label>
                                <label>E. 提升肌肤代谢能力</label>
                            </div>
                            <div class="rel option">
                                <input id="F9" class="option-box" type="checkbox" name="F9" />
                                <label class="hide"></label>
                                <label>F. 提升细胞再生能力</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item10" data-index="10" data-type="box">
                        <div class="q q10">10. 兰蔻菁纯粉底液的优势是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a10">
                            <div class="rel option">
                                <input id="A10" class="option-box" type="checkbox" name="A10" />
                                <label for="A10"></label>
                                <label for="A10">A. 内含价值1340的菁纯精华，上妆即养肤</label>
                            </div>
                            <div class="rel option">
                                <input id="B10" class="option-box" type="checkbox" name="B10" />
                                <label for="B10"></label>
                                <label for="B10">B. 添加纯金粉末打造高级金属关泽</label>
                            </div>
                            <div class="rel option">
                                <input id="C10" class="option-box" type="checkbox" name="C10" />
                                <label for="C10"></label>
                                <label for="C10">C. 附赠专业刷具，轻松上妆</label>
                            </div>
                            <div class="rel option">
                                <input id="D10" class="option-box" type="checkbox" name="D10" />
                                <label for="D10"></label>
                                <label for="D10">D. 被无限回购</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item11" data-index="11" data-type="box">
                        <div class="q q11">11. 你认为植村秀55号粉底刷值得购买的原因是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a11">
                            <div class="rel option">
                                <input id="A11" class="option-box" type="checkbox" name="A11" />
                                <label for="A11"></label>
                                <label for="A11">A. 专业，零技巧上妆</label>
                            </div>
                            <div class="rel option">
                                <input id="B11" class="option-box" type="checkbox" name="B11" />
                                <label for="B11"></label>
                                <label for="B11">B. 提升粉底液价值</label>
                            </div>
                            <div class="rel option">
                                <input id="C11" class="option-box" type="checkbox" name="C11" />
                                <label for="C11"></label>
                                <label for="C11">C. 198000根刷毛，上妆快</label>
                            </div>
                            <div class="rel option">
                                <input id="D11" class="option-box" type="checkbox" name="D11" />
                                <label for="D11"></label>
                                <label for="D11">D. 需搭配花瓣粉底液</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item12" data-index="12" data-type="input">
                        <div class="q q12">12. 兰蔻菁纯眼霜被称为（ <input class="q-input" type="text" name="q12-1" maxlength="1" placeholder="请填写" /> ）淡纹神器，它针对纹路的类型 长度 数量 面积 持久，再深的纹路（ <input class="q-input" type="text" name="q12-2" maxlength="1" placeholder="请填写" /> ）也能得到改善。</div>
                        <div class="a a12">
                            <div class="rel option">
                                <input id="A12" class="option-box" type="checkbox" name="A12" />
                                <label class="hide"></label>
                                <label>A. 3维</label>
                            </div>
                            <div class="rel option">
                                <input id="B12" class="option-box" type="checkbox" name="B12" />
                                <label class="hide"></label>
                                <label>B. 6天</label>
                            </div>
                            <div class="rel option">
                                <input id="C12" class="option-box" type="checkbox" name="C12" />
                                <label class="hide"></label>
                                <label>C. 5维</label>
                            </div>
                            <div class="rel option">
                                <input id="D12" class="option-box" type="checkbox" name="D12" />
                                <label class="hide"></label>
                                <label>D. 28天</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item13" data-index="13" data-type="box">
                        <div class="q q13">13. 兰蔻持妆粉底液的优势是（ <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a13">
                            <div class="rel option">
                                <input id="A13" class="option-box" type="checkbox" name="A13" />
                                <label for="A13"></label>
                                <label for="A13">A. 磨皮般遮瑕</label>
                            </div>
                            <div class="rel option">
                                <input id="B13" class="option-box" type="checkbox" name="B13" />
                                <label for="B13"></label>
                                <label for="B13">B. 妆效自然不假面</label>
                            </div>
                            <div class="rel option">
                                <input id="C13" class="option-box" type="checkbox" name="C13" />
                                <label for="C13"></label>
                                <label for="C13">C. 干皮也能用</label>
                            </div>
                            <div class="rel option">
                                <input id="D13" class="option-box" type="checkbox" name="D13" />
                                <label for="D13"></label>
                                <label for="D13">D. 12小时不脱妆</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item14" data-index="14" data-type="box">
                        <div class="q q14">14. 阿玛尼挚爱女士香水是阿玛尼先生送给现代女性的礼物，它赞扬现在女性的（  <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a14">
                            <div class="rel option">
                                <input id="A14" class="option-box" type="checkbox" name="A14" />
                                <label for="A14"></label>
                                <label for="A14">A. 独立</label>
                            </div>
                            <div class="rel option">
                                <input id="B14" class="option-box" type="checkbox" name="B14" />
                                <label for="B14"></label>
                                <label for="B14">B. 优雅</label>
                            </div>
                            <div class="rel option">
                                <input id="C14" class="option-box" type="checkbox" name="C14" />
                                <label for="C14"></label>
                                <label for="C14">C. 坚强</label>
                            </div>
                            <div class="rel option">
                                <input id="D14" class="option-box" type="checkbox" name="D14" />
                                <label for="D14"></label>
                                <label for="D14">D. 美丽</label>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item15" data-index="15" data-type="box">
                        <div class="q q15">15. 全球销量第一的阿玛尼寄情男士香水的优势在于（  <span class="A hide">A</span><span class="B hide">B</span><span class="C hide">C</span><span class="D hide">D</span> ）。</div>
                        <div class="a a15">
                            <div class="rel option">
                                <input id="A15" class="option-box" type="checkbox" name="A15" />
                                <label for="A15"></label>
                                <label for="A15">A. 独家海盐气息，真实模拟海水之味</label>
                            </div>
                            <div class="rel option">
                                <input id="B15" class="option-box" type="checkbox" name="B15" />
                                <label for="B15"></label>
                                <label for="B15">B. 忠诚度高</label>
                            </div>
                            <div class="rel option">
                                <input id="C15" class="option-box" type="checkbox" name="C15" />
                                <label for="C15"></label>
                                <label for="C15">C. 最纯正的佛手柑</label>
                            </div>
                            <div class="rel option">
                                <input id="D15" class="option-box" type="checkbox" name="D15" />
                                <label for="D15"></label>
                                <label for="D15">D. 包装</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btns -->
            <div class="btns">
                <!-- back -->
                <img class="btn-back" src="assets/images/common/btn-back.png" />
                <!-- submit -->
                <img class="btn-submit" src="assets/images/test/btn-submit.png" />
            </div>
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
