@import "../base/page";

.page-check {
    .base-page;
    background-color: #000;
    
    .check_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 5.2%;
            left: 0;
        }
        .all-box {
            width: 42.4%;
            top: 11.2%;
            left: 28.8%;
            .title {
                margin-bottom: 34%;
            }
            .shop {
                margin-bottom: 7%;
            }
            .area {
                margin-bottom: 29%;
            }
            .btn-home {
                width: 84.2%;
            }
        }
    }
}
