@import "../base/page";

.page-guide1 {
    .base-page;
    background-color: #000;
    
    .guide1_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%;
            left: 0;
        }
        .all-box {
            width: 92.6%;
            top: 5%;
            left: 3.7%;
            .title {
                margin-bottom: 3.2%;
            }
            .guide-box {
                margin-bottom: 3%;
                .content {
                    height: 92%;
                    top: 4%;
                    color: #fff;
                    font-size: 0.32rem;
                    line-height: 0.48rem;
                    overflow-y: scroll;
                    .red {
                        color: #f9473c;
                    }
                    .lightyellow {
                        color: #debc8a;
                    }
                    .yellow {
                        color: #d9a26e;
                    }
                    .deepyellow {
                        color: #c69b6c;
                    }
                    .bg-yellow {
                        /* Safari */
                        background: -webkit-linear-gradient(to right, rgba(198, 155, 108, 0.25) 80%, transparent);
                        /* Opera */
                        background: -o-linear-gradient(to right, rgba(198, 155, 108, 0.25) 80%, transparent);
                        /* Firefox */
                        background: -moz-linear-gradient(to right, rgba(198, 155, 108, 0.25) 80%, transparent);
                        /* 标准的语法, 放在最后 */
                        background: linear-gradient(to right, rgba(198, 155, 108, 0.25) 80%, transparent);
                    }
                    .notop {
                        margin-top: 0.1rem;
                    }
                    .nobottom {
                        margin-bottom: 0.1rem;
                    }
                    .weight {
                        font-weight: 500;
                    }
                    .guide-title, .sub-title {
                        font-size: 0.36rem;
                    }
                    .sub-title {
                        margin-bottom: 0.8rem;
                    }
                }
            }
            .btn-test, .btn-back {
                display: inline-block;
                width: 38.4%;
            }
            .btn-back {
                margin-left: 8.6%;
            }
        }
    }
}
