@import "../base/page";

.page-home {
    .base-page;
    background-color: #000;
    
    .home_page {
        .bg {
            top: 0;
            left: 0;
        }
        .all-box {
            top: 0.2%; /* 7.2% */
            left: 0;
            .title {
                margin-bottom: 10%; /* 15% */
            }
            .btn-study, .btn-check {
                width: 35.8%;
            }
            .btn-check {
                margin-left: 4%;
            }
        }
        .out {
            width: 5.6%;
            top: 3.6%;
            right: 0;
        }
    }
    .modal-out {
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.55);
        display: none;
        .modal-content {
            margin-top: 11.4%;
            .btn-y, .btn-n {
                width: 35%;
                top: 51.8%;
            }
            .btn-y {
                left: 15.2%;
            }
            .btn-n {
                right: 15.2%;
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
