@import "../base/page";

.page-listarea {
    .base-page;
    background-color: #000;
    
    .listarea_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%;
            left: 0;
        }
        .all-box {
            width: 92.54%;
            top: 4.2%;
            left: 3.73%;
            .title {
                margin-bottom: 9.5%;
            }
            .list-box {
                margin-bottom: 5.8%; /* 21.8% */
                border-radius: 0 0 12px 12px;
                overflow: hidden;
                .table-list {
                    height: 87.3%;
                    bottom: 0.4%;
                    left: 0;
                    overflow-y: scroll;
                    color: #fff;
                    font-size: 0.32rem;
                    .nodata {
                        height: 1rem;
                        line-height: 1rem;
                        display: none;
                    }
                    .list-item:nth-child(odd) {
                        background: rgba(213, 185, 145, 0.4);
                    }
                    .list-item {
                        height: 1.646rem;
                        padding-top: 0.06rem;
                        display: -webkit-flex; 
                        display: flex; 
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        div {
                            line-height: 0.4rem;
                            white-space: normal;
                            word-break: break-all;
                        }
                        div.teac {
                            width: 15%;
                        }
                        div.area {
                            width: 10%;
                        }
                        div.num {
                            width: 8%;
                        }
                        div.name {
                            width: 14%;
                        }
                        div.list-score, div.list-percent {
                            width: 19%;
                            .wrapper-score, .wrapper-percent {
                                -webkit-transform: scale(0.72);
                                -moz-transform: scale(0.72);
                                -ms-transform: scale(0.72);
                                transform: scale(0.72);
                                .score-item, .percent-item {
                                    padding: 0.04rem 0.08rem;
                                    span {
                                        margin-left: 10%;
                                    }
                                }
                                .score-level1, .percent1 {
                                    background: rgba(255, 255, 255, 0.15);
                                    .icon-arrow {
                                        margin-top: 5%;
                                        margin-right: 2%;
                                        float: right;
                                        display: inline-block;
                                        width: 0.2rem;
                                        height: 0.2rem;
                                        border-top: 0.18rem solid #fff;
                                        border-left: 0.1rem solid transparent;
                                        border-right: 0.1rem solid transparent;
                                    }
                                }
                                .score-more, .percent-more {
                                    top: 100%;
                                    left: 0;
                                    display: none;
                                }
                                .score-more.show, .percent-more.show {
                                    display: block;
                                }
                                .score-more .score-item, .percent-more .percent-item {
                                    color: #b4a47d;
                                    background: rgba(180, 164, 124, 0.2);
                                }
                            }
                            .wrapper-score, .wrapper-percent {
                                margin-top: -1%;
                            }
                            .wrapper-score {
                                margin-left: -16%;
                                margin-right: -14%;
                            }
                            .wrapper-percent {
                                margin-left: -10%;
                                margin-right: -24%;
                            }
                        }
                        div.status {
                            width: 15%;
                        }
                    }
                }
            }
            .btn-check {
                display: inline-block;
                width: 49%;
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
