@import "../base/page";

.page-login {
    .base-page; 
    background-color: #000;
    
    .login_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%; /* 7.2% */
            left: 0;
        }
        .all-box {
            width: 76%;
            top: 6.2%; /* 13.2% */
            left: 12%;
            .title {
                margin-bottom: 17.2%;
            }
            .form-box {
                margin-bottom: 27%; /* 35% */
            }
            .input-box {
                width: 91%;
                left: 4.4%;
                input {
                    width: 70%;
                    height: 1.15rem;
                    top: 0.05rem;
                    right: 0;
                    color: #fff;
                    font-size: 0.4rem;
                    background: none;
                    border: none;
                }
                input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #fff;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: #fff;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: #fff;
                }
                input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: #fff;
                }
                input::-ms-input-placeholder { /* Microsoft Edge */
                   color: #fff;
                }
            }
            .name-box {
                top: 15.2%;
            }
            .number-box {
                top: 33.8%;
            }
            .pwd-box {
                top: 51.8%;
            }
            .reg-box {
                width: 25.4%;
                left: 37.3%;
                top: 77%;
            }
            .btns {
                margin-left: -10%;
                width: 120%;
                .btn-con, .btn-home {
                    width: 39%;
                }
                .btn-con {
                    margin-left: 9%;
                }
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
