@import "../base/page";

.page-modules {
    .base-page;
    background-color: #000;
    
    .modules_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 7.2%;
            left: 0;
        }
        .modules-box {
            width: 62%;
            top: 12.2%; /* 13.2% */
            left: 19.6%;
            .title {
                margin-bottom: 42.4%;
            }
            .study, .test {
                margin-bottom: 17.4%;
            }
            .btn-home {
                margin-top: 32.2%;
                display: inline-block;
                width: 57%;
            }
        }
    }
}
