@import "../base/page";

.page-prize {
    .base-page;
    background-color: #000;
    
    .prize_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 7.2%;
            left: 0;
        }
        .all-box {
            width: 92.4%;
            top: 13.2%;
            left: 3.8%;
            .title {
                margin-bottom: 16.4%;
            }
            .prize-box {
                margin-bottom: 23.8%; /* 26% */
                border-radius: 0 0 10px 10px;
                overflow: hidden;
                .level-box {
                    margin: 0;
                    padding: 0;
                    height: 81.4%;
                    bottom: 0;
                    left: 0;
                    .level-item {
                        height: 2.04rem;
                        display: -webkit-flex; 
                        display: flex; 
                        -webkit-flex-direction: row;
                        flex-direction: row;
                    }
                    .level-item.lock {
                        opacity: 0.2;
                    }
                    .level-item.unlock {
                        background: rgba(213, 185, 145, 0.4);
                    }
                    .level-item.unlock.applyed {
                        background: transparent;
                    }
                    .level, .box-apply {
                        display: inline-block;
                    }
                    .level-item .box-exchange {
                        display: none;
                    }
                    .level-item.unlock.applyed .box-exchange {
                        display: inline-block;
                    }
                }
            }
            .btn-modules {
                display: inline-block;
                width: 38.4%;
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
