@import "../base/page";

.page-program {
    .base-page;
    background-color: #000;
    
    .program_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 7.2%;
            left: 0;
        }
        .all-box {
            width: 92.4%;
            top: 13.2%;
            left: 3.8%;
            .title {
                margin-bottom: 16.4%;
            }
            .program-box {
                margin-bottom: 23.8%; /* 25.8% */
                border-radius: 0 0 10px 10px;
                overflow: hidden;
                .level-box {
                    margin: 0;
                    padding: 0;
                    height: 81.2%;
                    bottom: 0;
                    left: 0;
                    .level-item {
                        height: 2.04rem;
                        display: -webkit-flex; 
                        display: flex; 
                        -webkit-flex-direction: row;
                        flex-direction: row;
                    }
                    .level-item.unlock.pass {
                        background: transparent;
                    }
                    .level-item.unlock {
                        background: rgba(213, 185, 145, 0.4);
                    }
                    .level-item.lock {
                        opacity: 0.2;
                    }
                    .level img, .status img, .btn-study img {
                        width: auto;
                    }
                    .score {
                        width: 25%;
                        color: #fff;
                        font-size: 0.5rem;
                        font-weight: 400;
                        line-height: 2.1rem;
                    }
                }
            }
            .btn-modules {
                display: inline-block;
                width: 39%;
            }
        }
    }
}
