@import "../base/page";

.page-reg {
    .base-page;
    background-color: #000;
    
    .reg_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%; /* 7% */
            left: 0;
        }
        .all-box {
            width: 76%;
            top: 2%; /* 13.2% */
            left: 12%;
            .title {
                margin-bottom: 5%;
            }
            .form-box {
                margin-bottom: 6.8%; /* 8.8% */
            }
            .input-box {
                width: 91%;
                left: 4.4%;
                input, div, select {
                    padding-left: 0;
                    width: 68%;
                    height: 1.15rem;
                    top: 0.05rem;
                    right: 0;
                    color: #fff;
                    font-size: 0.4rem;
                    background: none;
                    border: none;
                }
                input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #fff;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: #fff;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: #fff;
                }
                input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: #fff;
                }
                input::-ms-input-placeholder { /* Microsoft Edge */
                   color: #fff;
                }
                input.show-placeholder:before{ 
                    content: attr(placeholder);
                }
            }
            .name-box {
                top: 4.2%;
            }
            .city-box {
                top: 17.8%;
                div {
                    line-height: 1.15rem;
                    text-align: left;
                    font-weight: 400;
                }
            }
            .number-box {
                top: 31.2%;
            }
            .date-box {
                top: 44.6%;
                overflow: hidden;
                .userDate {
                    width: 76%;
                    left: 32%;
                }
            }
            .teac-box {
                top: 58.2%;
                select {
                    line-height: 1.15rem;
                    text-align: left;
                }
            }
            .pwd-box {
                top: 71.6%;
            }
            .pwdcon-box {
                top: 85.2%;
            }
            .btns {
                margin-left: -10%;
                width: 120%;
                .btn-reg, .btn-back {
                    width: 39%;
                }
                .btn-reg {
                    margin-left: 8%;
                }
            }
        }
    }
    .modal-success {
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.55);
        display: none;
        .modal-content {
            .btn-login {
                width: 35.4%;
                top: 64.8%;
                left: 32.3%;
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.mobileSelect {
    position: relative;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s, z-index 0.4s;
    transition: opacity 0.4s, z-index 0.4s;
}
.mobileSelect * {
     margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mobileSelect .grayLayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    background: rgba(0, 0, 0, 0.7);
    z-index: 888;
    display: block;
}
.mobileSelect .content {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 889;
    color: black;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    bottom: -350px;
    left: 0;
    background: white;
}
.mobileSelect .content .fixWidth {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.mobileSelect .content .fixWidth:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mobileSelect .content .btnBar {
    border-bottom: 1px solid #DCDCDC;
    font-size: 15px;
    height: 45px;
    position: relative;
    text-align: center;
    line-height: 45px;
}
.mobileSelect .content .btnBar .cancel,
.mobileSelect .content .btnBar .ensure {
    height: 45px;
    width: 55px;
    cursor: pointer;
    position: absolute;
    top: 0;
}
.mobileSelect .content .btnBar .cancel {
    left: 0;
    color: #666;
}
.mobileSelect .content .btnBar .ensure {
    right: 0;
    color: #1e83d3;
}
.mobileSelect .content .btnBar .title {
    font-size: 15px;
    padding: 0 15%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobileSelect .content .panel:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mobileSelect .content .panel .wheels {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.mobileSelect .content .panel .wheel {
    position: relative;
    width: 50%;
    z-index: 0;
    float: left;
    height: 200px;
    overflow: hidden;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.mobileSelect .content .panel .wheel .selectContainer {
    display: block;
    text-align: center;
    -webkit-transition: -webkit-transform 0.18s ease-out;
    transition: -webkit-transform 0.18s ease-out;
    transition: transform 0.18s ease-out;
    transition: transform 0.18s ease-out, -webkit-transform 0.18s ease-out;
}
.mobileSelect .content .panel .wheel .selectContainer li {
    font-size: 15px;
    display: block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobileSelect .content .panel .selectLine {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 80px;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.mobileSelect .content .panel .shadowMask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(rgba(255, 255, 255, 0)), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0), #ffffff);
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0), #ffffff);
    opacity: 0.9;
    pointer-events: none;
}
.mobileSelect-show {
    opacity: 1;
    z-index: 10000;
    visibility: visible;
}
.mobileSelect-show .content {
    bottom: 0;
}
