@import "../base/page";

.page-searcharea {
    .base-page;
    background-color: #000;
    
    .searcharea_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 7.2%;
            left: 0;
        }
        .all-box {
            width: 88.2%;
            top: 13.2%;
            left: 6%;
            .title {
                margin-bottom: 34%;
            }
            .search-box {
                margin-bottom: 37.4%;
                .input-box {
                    width: 80%;
                    top: 30%;
                    left: 5.6%;
                    .teacName {
                        width: 80%;
                        height: 1.15rem;
                        top: 0.05rem;
                        left: 11%;
                        color: #b7956a;
                        font-size: 0.4rem;
                        line-height: 1.15rem;
                        text-align: left;
                    }
                    .search {
                        width: 30%;
                        top: -36%;
                        right: -13.6%;
                    }
                }
            }
            .btn-all {
                width: 51%;
            }
        }
    }
}
