@import "../base/page";

.page-test {
    .base-page;
    background-color: #000;
    
    .test_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 7.2%;
            left: 0;
        }
        .level-box {
            width: 54%;
            top: 12.2%; /* 13.2% */
            left: 23%;
            .level1 {
                margin-top: 2.6rem;
            }
            .level2, .level3 {
                margin-top: 1.08rem;
            }
            .btn-back {
                margin-top: 1.96rem;
                display: inline-block;
                width: 67%;
            }
        }
    }
}
