@import "../base/page";

.page-test3 {
    .base-page;
    background-color: #000;
    
    .test3_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%;
            left: 0;
        }
        .all-box {
            width: 92.6%;
            top: 6.2%;
            left: 3.6%;
            .title {
                margin-bottom: 5.4%;
            }
            .test-box {
                margin-bottom: 3.8%; /* 15.8% */
                .qa-box {
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    .qa-item {
                        font-size: 0.34rem;
                        line-height: 0.51rem;
                        text-align: left;
                        display: none;
                        .q {
                            padding: 0.4rem;
                            color: #fff;
                            background: rgba(213, 185, 145, 0.4);
                        }
                        .a {
                            padding: 0.1rem 0 0.3rem 0;
                        }
                        .a .option:first-child {
                            width: 50%;
                        }
                        .a .option {
                            display: inline-block;
                            color: #f6d8ac;
                            margin: 0.3rem 0;
                            padding: 0 0.4rem;
                            input[type=radio] {
                                margin-right: 0.2rem;
                                visibility: hidden;
                            }
                            .option-box +label {
                                position: absolute;
                                display: block;
                                width: 0.4rem;
                                height: 0.4rem;
                                // top: 0;
                                bottom: 0.1rem;
                                left: 0.4rem;
                                border-radius: 3px;
                                background: #fff;
                                cursor: pointer;
                            }
                            .option-box:checked +label::before {
                                display: block;
                                height: 100%;
                                content: "\2713";
                                font-size: 0.4rem;
                                font-weight: 900;
                                line-height: 0.4rem;
                                color: #ba8c54;
                                text-align: center;
                            }
                        }
                    }
                    .qa-item.show {
                        display: block;
                    }
                }
            }
            .btns {
                .btn-submit, .btn-back {
                    width: 39%;
                }
                .btn-submit {
                    margin-left: 8%;
                }
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
