@import "../base/page";

.page-test2 {
    .base-page;
    background-color: #000;
    
    .test2_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%;
            left: 0;
        }
        .all-box {
            width: 92.6%;
            top: 6.2%;
            left: 3.6%;
            .title {
                margin-bottom: 5.4%;
            }
            .test-box {
                margin-bottom: 3.8%; /* 15.8% */
                .qa-box {
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    .qa-title {
                        padding: 0.2rem 0;
                        font-size:0.32rem;
                        font-weight: 500;
                        line-height: 0.6rem;
                        color: #fff;
                        display: none;
                    }
                    .qa-title.show {
                        display: block;
                    }
                    .bordertop {
                        border-top: 1px solid #f6d8ac;
                    }
                    .qa-item {
                        font-size: 0.34rem;
                        line-height: 0.51rem;
                        text-align: left;
                        display: none;
                        .q {
                            padding: 0.4rem;
                            color: #fff;
                            background: rgba(213, 185, 145, 0.4);
                        }
                        .a {
                            padding: 0.4rem 0.4rem 0;
                            // 去除系统默认的样式
                            input[type=range] {
                                -webkit-appearance: none;
                                width: 85%;
                                border-radius: 10px;
                            }
                            // 给滑动轨道(track)添加样式
                            input[type=range]::-webkit-slider-runnable-track {
                                height: 0.2rem;
                                border-radius: 10px;
                            }
                            input[type=range]::-moz-range-track {
                                height: 0.2rem;
                                border-radius: 10px;
                            }
                            input[type=range]::-ms-track {
                                height: 0.2rem;
                                border-radius: 10px;
                            }
                            // 给滑块(thumb)添加样式
                            input[type=range]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 0.6rem;
                                width: 0.6rem;
                                margin-top: -0.2rem; /*使滑块超出轨道部分的偏移量相等*/
                                background: #ffffff; 
                                border-radius: 50%;
                                border: solid 0.1em #f6d8ac;
                                box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
                            }
                            input[type=range]::-moz-range-thumb {
                                -moz-appearance: none;
                                height: 0.6rem;
                                width: 0.6rem;
                                margin-top: -0.2rem; /*使滑块超出轨道部分的偏移量相等*/
                                background: #ffffff; 
                                border-radius: 50%;
                                border: solid 0.1em #f6d8ac;
                                box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
                            }
                            input[type=range]::-ms-thumb {
                                -ms-appearance: none;
                                height: 0.6rem;
                                width: 0.6rem;
                                margin-top: -0.2rem; /*使滑块超出轨道部分的偏移量相等*/
                                background: #ffffff; 
                                border-radius: 50%;
                                border: solid 0.1em #f6d8ac;
                                box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
                            }
                            .score {
                                color: #f6d8ac;
                                display: -webkit-flex; 
                                display: flex; 
                                -webkit-flex-direction: row;
                                flex-direction: row;
                                div {
                                    padding: 0.2rem 0 0.4rem;
                                    -webkit-flex: 1;
                                    flex: 1;
                                }
                            }
                        }
                    }
                    .qa-item.show {
                        display: block;
                    }
                }
            }
            .btns {
                .btn-submit, .btn-back {
                    width: 39%;
                }
                .btn-submit {
                    margin-left: 8%;
                }
            }
        }
    }
    .modal-loading {
        display: none;
        margin: 0 auto;
        padding: 0.6rem 0;
        width: 3.5rem;
        top: 40%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        .loader {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
            border-top: 0.1rem solid #f6d8ac;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
